# MongoDB connection
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=foodtracker

# JWT configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Firebase configuration
FIREBASE_PROJECT_ID=foodtracker-67abb

# Groq AI (Analyse d'images et de texte)
GROQ_API_KEY=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